@model VagasShow.Models.Vaga

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    
    
    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()
        
    <div class="form-horizontal">
        <h4>Vaga</h4>
        <table>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Titulo)<br>@Html.TextBoxFor(model => model.Titulo)</th>
                <th>@Html.DisplayNameFor(model => model.Cargo)<br>@Html.TextBoxFor(model => model.Cargo)</th>
                <th>@Html.DisplayNameFor(model => model.Descricao)<br>@Html.TextBoxFor(model => model.Descricao)</th>
                <th>@Html.DisplayNameFor(model => model.Remuneracao)<br>@Html.TextBoxFor(model => model.Remuneracao)</th>
                <th></th>
            </tr>
        </table>
        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Criar vaga" class="btn btn-default" />
            </div>
        </div>
    </div>
    }
    
    <div>
        @Html.ActionLink("Voltar", "Index")
    </div>
</body>
</html>
